footer {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
  color: #ffffff; /* Colore del testo */
  padding: 20px 0;

  .small {
    line-height: 1.5;
  }
  .text-uppercase {
    text-transform: uppercase;
    font-weight: bold;
  }
  .social-icons a {
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out;
  }
  .social-icons a:hover {
    color: #dcdcdc;
  }
}
