<footer class="text-white pt-4">
  <div class="container">
    <div class="row">
      <!-- Logo e Info -->
      <div class="col-md-6 mb-4">
        <img
          src="../../../assets/img/sfondosalone.webp"
          alt="EliteDrive Logo"
          class="mb-2"
          style="height: 50px"
        />
        <h5 class="mb-1">EliteDrive</h5>
        <p class="small mb-2">Unica concessionaria ufficiale per la Versilia</p>
        <p class="small">Partita IVA 02002700463</p>
      </div>

      <div class="col-md-3 mb-4">
        <h6 class="text-uppercase">Viareggio (LU)</h6>
        <p class="small mb-0">Piazza Dante Alighieri 5, Viareggio</p>
        <p class="small">Partita IVA IT 001122004455</p>
        <p class="small mb-0"><i class="fas fa-phone"></i> 0584461227</p>
      </div>
      <div class="col-md-3 mb-4">
        <h6 class="text-uppercase">Massarosa (LU)</h6>
        <p class="small mb-0">Via Di Montramito 1784, Massarosa</p>
        <p class="small">Partita IVA IT 001122004455</p>
        <p class="small mb-0"><i class="fas fa-phone"></i> 0584461227</p>
        <p class="small mb-0">
          <i class="fas fa-envelope"></i> info-prestige.it
        </p>
      </div>
    </div>
    <hr class="bg-light" />
    <div class="row">
      <div class="col text-center">
        <a href="#" class="text-white mx-2"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-whatsapp"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-youtube"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <p class="small">© 2024 EliteDrive - Il tuo autosalone di fiducia</p>
      </div>
    </div>
  </div>
</footer>
